// dark theme

$bg-dark-color: #FAFAF2;
$act-color: #E51776;
$hover-color: #FF0075;
$text-light-color: #14141C;
$text-dark-color: #737380;



$font: 'Inter', sans-serif;

[dark]{
    $bg-dark-color:#ffffff;
}