@use "../helpers/" as *;

.breadcrumb{
    display: flex;
    justify-content: flex-start;
    column-gap: rem(25);
    margin-left: rem(30);

    @include tablet{
        margin-left: 0;
    }
    &__item{
        font-size: fliud(18,14);
        line-height: 1.5;
        font-weight: 400;
        color: var(--color-accent);
        margin-top: rem(60);
        margin-bottom: rem(10);
    }
}