@use "../helpers/" as *;


.menu{
    margin: 0 rem(20);
    &__list{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: rem(60);

        @include laptop{
            column-gap:rem(30);
        }
    }
    &__item{
        
        @include fluid-text(16, 14);

        font-weight: 400;
        color: var(--color-ligth-1);
        text-transform: uppercase;
        &:hover{
            color: var(--color-accent);
            transition: color .2s ease-in;
        }
    }
    .is-active{
        color: var(--color-accent);
    }
    @include tablet{
        display: none;
        
    }
}
.dropdown{
    padding-right: rem(20);
    background-image: url("./../images/icon/arrow-menu.svg");
    background-repeat: no-repeat;
    background-position: 100% center;
    position: relative;
}
.submenu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 375px;
    display: none;
    padding-top: 40px;
    background-color: transparent;
    &__item{
        border-left: 1px solid var(--color-grey);
        border-right: 1px solid var(--color-grey);
        overflow: hidden;
        &:first-child{
            border-top: 1px solid var(--color-grey);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        &:last-child{
            border-bottom: 1px solid var(--color-grey);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    &__link{
        padding: 15px 30px;
        display: block;
        font-size: 15px;
        font-weight: 400;
        color: var(--color-ligth-1);
        background-color: var(--color-dark);
       
        &:hover{
            color: var(--color-accent);
            font-weight: 600;
        }
    }
}

.burger{
    display: none;
    width: 24px;
    height: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    span{
        width: 100%;
        display: block;
        height: 2px;
        background-color: var(--color-accent);
    }

    @include tablet{
        display: flex;
        
    }
}

.mobile-menu{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-dark);
    padding-top: rem(60);
    padding-left: rem(30);
    padding-right: rem(30);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__list{
        font-size: rem(14);
        color: var(--color-ligth-1);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__item{
        width: 100%;
    }
    &__link{
        width: 100%;
        display: block;
        padding: 15px;
        &:hover{
            color: var(--color-accent);
        }
    }
    &__bottom{
        margin-bottom: rem(30);
        display: flex;
        flex-direction: column;
        row-gap: rem(30);
        align-items: center;
        justify-content: center;
    }
    &__close{
        position: absolute;
        top: rem(30);
        right: rem(15);
        width: rem(24);
        height: rem(24);
        font-size: rem(32);
        &::before{

            @include abs-center;

            content: "+";
            display: block;
            color: var(--color-accent);
            transform: rotate(45deg);
        }
    }

}
.mobile-menu.is-active{
    display: flex;
}