@use "./../helpers/" as *;

.review{
     @include border;

     padding: rem(60);
     display: flex;
     flex-direction: column;
     align-items: baseline;
     position: relative;
     height: rem(440);

     @include tablet{
        height: rem(300);
     }
     @include mobile-s{
        padding: rem(30);
     }
     &__author{
        font-family: var(--font-title);
        font-size: fluid(24, 18);
        font-weight: 600;
        color: var(--color-ligth-1);
     }
     &__text{
        margin-top: rem(24);
        font-size: fluid(17, 14);
        font-weight: 400;
        color: var(--color-grey);
        line-height: 1.5;
     }
     .button{
        padding-left: 0;
        position: absolute;
        bottom: rem(30);
        left: rem(60);
        @include mobile{
           
            width: 38%;
            padding-right: rem(60);
            padding-left: 0;
            text-align: left;
        }
        @include mobile-s{
            width: 60%;
            left: rem(30);
            bottom: rem(30);
         }
     }
     &:hover{
        box-shadow: 0 0 0 1px var(--color-accent);
        .button{
            color: var(--color-accent);
            &::before{
                background-image: url("./../images/icon/btn-arrow-lhover.svg");
            }
            
            
        }
     }
}