@use "./helpers/" as *;

body{
    background-color: var(--color-dark);
    font-family: var(--font-text);
    overflow-x: hidden;
}
a{
    color: inherit;
}
h1,h2,h3{
    font-family: var(--font-title);
}

::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: var(--color-accent); 
}