:root{
    --color-dark: #14141C;
    --color-ligth-1: #FAFAF2;
    --color-light-2: #F4F4F4;
    --color-accent: #E51776;
    --color-hover: #dd0067;
    --color-grey: #737380;

    --font-title: 'Montserrat', sans-serif;;
    --font-text: 'Inter', sans-serif;

}